* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Font chữ nhìn cho hiện đại */
}


.thanhdieuhuong{
    display :flex;
align-items: center;
padding :20px 80px;

}
.logo {
    background-color: black;
    border: 4px brown solid;
    border-radius: 30px;
    padding: 10px 20px; /* Thêm khoảng cách cho chữ KĐT không bị dính vào viền */
    display: flex;      /* Giúp chữ căn giữa chuẩn hơn */
    align-items: center;
    justify-content: center;
    color: white;       /* Đảm bảo chữ trắng nếu span không nhận màu */
}
.dieuhuong  {
    display:flex;
    gap:30px;
    margin-left: 200px;
    background-color: rgba(26, 28, 35, 0.75); /* Màu tối nhưng có độ trong suốt 75% để nhìn xuyên thấu ra ảnh nền phía sau */
    backdrop-filter: blur(10px); /* Hiệu ứng làm mờ kính siêu xịn */
}
  
.dieuhuong a {
    text-decoration:none;
    color:#ffffff;
    background-color:black;
border: 4px brown solid;
 padding: 10px 20px;
border-radius: 30px;
}
.video-nen {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -1;      /* Đẩy video ra sau tất cả */
  object-fit: cover; /* Giúp video tràn màn hình mà không bị méo */
}